Select-control {
    background-color: #1C2133 !important;
}

.Select.is-focused > .Select-control {
    background-color: #1C2133;
}

#school-input {
    color: white;
}

.Select-value-label {
    color: white;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid white;
    border-radius: 4px;
}

.VirtualizedSelectOption {
    background-color: #1C2133;
    color: white;
 }

.VirtualizedSelectFocusedOption {
    background-color: #1C2133;
    opacity: .7;
}

.Select.is-focused:not(.is-open) > .Select-control {
    background-color: #efefef;
    border-color: var(--primary); 
    box-shadow: none;
}